[submodule "spl-token-mint"]
	path = spl-token-mint
	url = git@github.com:0xsoydev/spl-token-mint.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:0xsoydev/anchor-vault.git
[submodule "anchor-escrow-contract"]
	path = anchor-escrow-contract
	url = git@github.com:0xsoydev/anchor-escrow-contract.git
[submodule "nftPlex-nft-mint"]
	path = nftPlex-nft-mint
	url = git@github.com:0xsoydev/nftPlex.git
